
.block {
	margin-top: 10px;
	margin-bottom: 10px;	
	margin-left: 5px;
	margin-right: 5px;
}

.list {
height: 600px !important;
	text-overflow: clip;
	
}

.fab-button {
	position: absolute;
}

.login-block {
	padding: 10px
}

.full-block {
	margin-left : 5% !important;
	margin-right : 5% !important;
	width : 90%;
}

.input-block {
	margin-left: 5px;
	margin-right: 5px;
}
